RewriteEngine On

# Rediriger toutes les requêtes vers public/index.php sauf les fichiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php?page=$1 [QSA,L]
